section{

  .page-title{
    color: #fff;
    border-radius: 15px;
    background-image: url(../../../../../../../../src/assets/img/circles-header-bg.svg);
    background-repeat: no-repeat;
    background-color: #009247  ;


  span{
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    color: #DFE0E0;
  }
}
  .page-content{
     p{
    color: #1F263E;
    font-weight: 500;
    font-size: 20px;
    line-height: 6px;
    }
  span{
    color: #323C47;
    font-weight: 400;
    font-size: 10px;
  }
  }




}
