<div class="container ">

  <div class="m-auto text-center position-relative p-1">
      <img src="../../../../assets/img/delete-img.svg" alt="xx" class="w-25">
      <!-- <button class="position-absolute top-0 end-0 bg-transparent"  >
        <i class="fa-solid fa-xmark  close-icon "   ></i>
      </button> -->

  </div>

  <div mat-dialog-content class=" m-auto text-center  w-75">
    <h4 matDialogTitle>No Data !</h4>
    <p>Not found any match Data , Back !</p>
  </div>

  <div class="line m-1"> </div>



</div>

