
<section>
  <div class="container ">
    <div class="row vh-100 justify-content-center align-items-center ">

      <div class="col-md-8">
        <div class="auth-form  ">

          <div class="logo text-center">
            <img src="../../assets/img/logoLOG.png" alt="xxooff" class="">
          </div>

          <div class="title p-2">
            <h2>Reset Password</h2>
            <p> Please Enter Your Otp or Check Your Inbox</p>
          </div>

          <form  class="p-2" [formGroup]="resetPasswordForm"  (ngSubmit)="onSubmit(resetPasswordForm)" >

            <div class="input-group mb-3 ">
              <span class="input-group-text   border-top-0 border-bottom-0 border-start-0 "
               id="basic-addon1">
               <i class="fa-solid fa-envelope"></i>
              </span>
              <input type="email"
              formControlName="email"
               class="form-control  border-top-0 border-bottom-0 border-end-0 "
               placeholder="Enter your E-mail"
               aria-label="Enter your E-mail"
               aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 ">
              <span class="input-group-text   border-top-0 border-bottom-0 border-start-0 "
               id="basic-addon1">
               <i class="fa-solid fa-lock"></i>
              </span>
              <input type="text"
              formControlName="seed"
               class="form-control  border-top-0 border-bottom-0 border-end-0 "
               placeholder="OTP"
               aria-label="OTP"
               aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text border-top-0 border-bottom-0 border-start-0"
              id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input [type]="isHide ? 'Password' : 'text'"
              formControlName="password"
              class="form-control border-top-0 border-bottom-0 border-end-0 "
              placeholder="New Password"
              aria-label="New Password"
              aria-describedby="basic-addon1">

              <a (click)="( isHide =! isHide )" class="input-group-text border-0">
               <span class=" me-1 border-0" id="basic-addon1">
                <i  class="fa-regular " [class]=" isHide? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>  </a>

            </div>

            <div class="input-group mb-3">
              <span class="input-group-text border-top-0 border-bottom-0 border-start-0"
              id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input [type]="isHide ? 'Password' : 'text'"
              formControlName="confirmPassword"
              class="form-control border-top-0 border-bottom-0 border-end-0 "
              placeholder="Confirm New Password"
              aria-label="Confirm New Password"
              aria-describedby="basic-addon1">

              <a (click)="( isHide =! isHide )" class="input-group-text border-0">
               <span class=" me-1 border-0" id="basic-addon1">
                <i  class="fa-regular " [class]=" isHide? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>  </a>

            </div>


          <div class="text-center p-2">
            <button type="submit" class="primary-color w-100">Reset Password</button>
          </div>

          </form>


        </div>

      </div>
    </div>

    </div>


</section>


