.row{
  font-family: Roboto;
.line{
  border: 3px solid rgba(247, 247, 247, 1) ;
 }

  span{
    font-weight: 400;
    font-size: 18px;
    color: #323C47;
  }

     p{
    color: #1F263E;
    font-weight: 500;
    font-size: 20px;
    line-height: 6px;
    }


}
