
<section>
  <div class="container ">
    <div class="row vh-100 justify-content-center align-items-center ">

      <div class="col-md-8">
        <div class="auth-form  ">

          <div class="logo text-center">
            <img src="../../assets/img/logoLOG.png" alt="xxooff" class="">
          </div>

          <div class="title p-2">
            <h2>Forget Your Password ? </h2>
            <p>No worries! Please enter your email and we will send a password reset link</p>
          </div>

      <form (ngSubmit)="onSubmit()" #form="ngForm">
  <div>
    <div class="input-group mb-3 ">
      <span class="input-group-text   border-top-0 border-bottom-0 border-start-0 "
       id="basic-addon1">
       <i class="fa-solid fa-envelope"></i>
      </span>

      <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="model.email"
      required
      email
      #email="ngModel"
      class="form-control  border-top-0 border-bottom-0 border-end-0 "
      placeholder="Enter your E-mail"
      aria-label="Enter your E-mail"
      aria-describedby="basic-addon1"
    />
    </div>

    <div *ngIf="email.invalid && email.touched" class="error">
      Please enter a valid email.
    </div>
  </div>


  <div class="text-center p-2">
  <button type="submit" [disabled]="form.invalid" class="primary-color w-100">Submit</button>
  </div>
      </form>

        </div>

      </div>
    </div>

    </div>


</section>

