<section>
  <div class="container p-5 ">

  <div class="mat-dialog-title d-flex align-items-center justify-content-between ">
    <h3> Category</h3>
    <button class="bg-transparent"  (click)="onCloseDialog()" [mat-dialog-close]="data.name">
      <mat-icon >close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="p-3">
    <input type="text"  class="form-control w-100 "  [disabled]="data.isReadOnly"
    placeholder="Category Name" name="CategoryName" [(ngModel)]="data.name">
  </div>

  <div class=" ms-auto p-3"  *ngIf="!data.isReadOnly">
    <button  class="btn btn-success" [mat-dialog-close]="data">Save</button>
  </div>

</div>

</section>
