
  <div class="container p-5 w-100 ">
    <div class="row  justify-content-center align-items-center ">

        <div class="">

          <div class="logo text-center">
            <img src="../../../../assets/img/logoLOG.png" alt="xxooff" class="w-75">
          </div>

          <div class="title p-2">
            <h6 class="mb-0 pb-0">Change your Password </h6>
            <span class="text-muted fw-light pt-0 mt-0">  Please enter your details</span>
          </div>

          <form  class="p-2" [formGroup]="changePasswordForm"  (ngSubmit)="onOpenChangePassword(changePasswordForm)" >

            <div class="input-group mb-3 ">
              <span class="input-group-text   border-top-0 border-bottom-0 border-start-0 "
               id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input type="password"
              formControlName="oldPassword"
               class="form-control  border-top-0 border-bottom-0 border-end-0 "
               placeholder="Enter your oldPassword"
               aria-label="Enter your oldPassword"
               aria-describedby="basic-addon1">
               <a (click)="( isHide =! isHide )" class="input-group-text border-0">
                <span class=" me-1 border-0" id="basic-addon1">
                 <i  class="fa-regular " [class]=" isHide? 'fa-eye-slash' : 'fa-eye'"></i>
               </span>  </a>
            </div>

            <div class="input-group mb-3 ">
              <span class="input-group-text   border-top-0 border-bottom-0 border-start-0 "
               id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input type="password"
              formControlName="newPassword"
               class="form-control  border-top-0 border-bottom-0 border-end-0 "
               placeholder="Enter your newPassword"
               aria-label="Enter your newPassword"
               aria-describedby="basic-addon1">

               <a (click)="( isHide =! isHide )" class="input-group-text border-0">
                <span class=" me-1 border-0" id="basic-addon1">
                 <i  class="fa-regular " [class]=" isHide? 'fa-eye-slash' : 'fa-eye'"></i>
               </span>  </a>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text border-top-0 border-bottom-0 border-start-0"
              id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input [type]="isHide ? 'Password' : 'text'"
              formControlName="confirmNewPassword"
              class="form-control border-top-0 border-bottom-0 border-end-0 "
              placeholder="confirmNewPassword"
              aria-label="confirmNewPassword"
              aria-describedby="basic-addon1">

              <a (click)="( isHide =! isHide )" class="input-group-text border-0">
               <span class=" me-1 border-0" id="basic-addon1">
                <i  class="fa-regular " [class]=" isHide? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>  </a>

            </div>


          <div class="text-center p-2">
            <button type="submit" class="primary-color w-100" >Change Password</button>
          </div>

          </form>


        </div>

      </div>
    </div>





