<section class="">
  <div class="row  justify-content-between align-items-start m-4 bg-secondary ">
    <div class="col-8 bg-danger ">
      <div class="input-group mb-3 ">
        <span class="input-group-text border-0 bg-white " id="basic-addon1">
          <i  class="fa-solid fa-search"></i>
        </span>
        <input type="text" class="form-control border-0" placeholder="Search Here" aria-label="Username" aria-describedby="basic-addon1">
      </div>
     </div>
    <div class="col-3"> </div>
  </div>
</section>
