<section>

  <div class="page-title p-4 mt-3">
    <div class="row align-items-center justify-content-between  ">
      <div class="col-8 px-3">
        <h3>Welcome <span> UpSkilling !</span></h3>
        <p>This is a welcoming screen for the entry of the application , you can now see the options</p>
      </div>
      <div class="col-4 text-end">
        <img src="../../../../assets/img/HOME.png" alt="cc" class="w-75">
      </div>
    </div>
  </div>


  <div class="text-content d-flex align-items-center justify-content-between p-3 mb-4 my-3">
    <div class="col-md-8">
      <h6>Fill The <span class="text-success"> Recipe</span> !</h6>
      <p>you can now fill the meals easily using the table and form , click here and sill it with the table !</p>
    </div>
    <button class=" primary-color "  routerLink="/dashboard/admin/recipes">
      Fill Recipes
     <i class="fa fa-arrow-right ms-2" ></i>
    </button>
  </div>


</section>
