section
{
  .page-title{
    color: #fff;
    border-radius: 15px;
    background-image: url(../../../../assets/img/circles-header-bg.svg);
    background-repeat: no-repeat;
    background-color: #009247  ;
    span{
      font-family: Roboto;
      font-weight: 400;
      font-size: 18px;
      color: #DFE0E0;
    }

  }
  .text-content{
    background-color: rgba(240, 255, 239, 1);
    border-radius: 16px;
  }

}
