<section class="">

  <div class=" row  justify-content-between align-items-center  m-2  mb-3 ">

    <div class="col-7  ">

      <div class="input-group   ">
        <span class="input-group-text border-0 bg-white  rounded-start-pill px-2 py-1" id="basic-addon1">
          <i class="fa-solid fa-magnifying-glass f"></i>
        </span>
        <input type="text" class="form-control border-0  bg-white rounded-end-pill px-2 py-1"
         placeholder="Search Here" aria-label="Username" aria-describedby="basic-addon1">
      </div>

     </div>

    <div class="col-3 text-end">
      <div class="end-side  d-flex align-items-center justify-content-around">
      <div  >
        <a routerLink="profile" >
         <img *ngIf="!imagePath" src="../../../../assets/img/Ellipse34.svg" class="col-3" alt="xx">
         <img *ngIf="imagePath"  [src]="baseUrl+imagePath" class="col-3" alt="notFound">

         <span class="px-2 ">{{userName}}</span>
        </a>
      </div>
      <div class="dropDowm-Profile">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu"  >

          <button mat-menu-item routerLink="profile" >
            <mat-icon>visibility</mat-icon>
            <span> Profile</span>
          </button>

          <button mat-menu-item (click)="onOpenChangePasswordDialog()">
            <mat-icon>lock</mat-icon>
            <span>Change Password</span>
          </button>

          <button mat-menu-item (click)=" onOpenLogOutDialog()" >
            <mat-icon>logout</mat-icon>
            <span>LogOut</span>
          </button>

  <!-- [routerLink]="['view-edit/' , recipe.id]" -->
          <!-- <button mat-menu-item  >
            <mat-icon >edit_square</mat-icon>
            <span>Edit </span>
          </button> -->

        </mat-menu>
      </div>
      <i class="fa-solid fa-bell"></i>
      </div>

       </div>
  </div>

</section>
