<!--   main layout --- navbar/sidebar/ admin or user -->
<section  class="vh-100 w-100  ">
  <div class="row m-0 ">
    <!-- [class]="receivedData.isHide? 'col-1' :'col-2'" -->
  <div class="  p-0" [class]="!isSidebarClick?'col-2' :'col-1'" >
     <app-sidebar (booleanChange)="onBooleanChange($event)" ></app-sidebar>

   </div>
  <div class=" ms-2 mt-2 "   [class]="!isSidebarClick?'col-9' :'col-10'">
    <div class="">
       <app-navbar></app-navbar>
       <!-- Admin || User  -->
       <router-outlet></router-outlet>
    </div>
    </div>
</div>
</section>
