
<div class="container p-1">

  <div class="m-auto text-center position-relative p-1">
      <img src="../../../../assets/img/delete-img.svg" alt="xx" class="w-25">
      <button class="position-absolute top-0 end-0 bg-transparent"  matDialogClose  >
        <i class="fa-solid fa-xmark  close-icon "   ></i>
      </button>


  </div>

  <div mat-dialog-content class=" m-auto text-center  w-75">
    <h4 matDialogTitle>LogOut ? </h4>
    <p>are you sure you want to LogOut ? if you are sure just click on LogOut</p>
  </div>

  <div class="line m-1"> </div>

  <div  class=" ms-auto text-end m-1 " >
    <button class="btn btn-outline-danger  mt-2"   (click)="onLogOut()" >LogOut </button>
  </div>

</div>
