<p>user-recipes works!</p>
<section>


  <div class="search-area">
    <div class="d-flex align-items-center justify-content-between ">


     <mat-form-field  class="col-6  p-1">
      <mat-label>Search By Recipe Name..</mat-label>
      <input matInput
      name="search" type="text" value=""
      (keydown.enter)="onGettingRecipesData()"
      [(ngModel)]="searchName"
      placeholder="Ex: pizza"
      >
     </mat-form-field>


      <mat-form-field  class="col-2 ">
        <mat-select  [(ngModel)]="tagId" (selectionChange)="onGettingRecipesData()"  placeholder="Tag">
          <mat-option *ngFor="let tag of tagList" [value]="tag.id">
            {{tag.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field  class="col-2 ">
        <mat-select placeholder="Category" [(ngModel)]="categoryId" (selectionChange)="onGettingRecipesData()" >
          <mat-option *ngFor="let category of categoriesList" [value]="category.id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button class=" primary-color p-2 mb-4 ms-2" (click)="clearFilters()">Clear Filter </button>

    </div>
  </div>


  <!-- <div  *ngIf="showNoData" >
     <app-no-data></app-no-data>
  </div> -->


  <table *ngIf="!showNoData"  class=" w-100 table table-striped text-center ">

    <thead class=" ">
      <th>Name</th>
      <th>Price</th>
     <th>Image</th>
      <th>Tag</th>
      <th>category</th>
      <th> CreationDate </th>
      <th>ModificationDate </th>

      <th>Actions</th>
    </thead>
    <tbody>
      <tr  *ngFor="let recipe of recipesList" >
        <td>{{recipe.name  }}</td>
        <td>{{recipe.price }}</td>
        <td class=" w-25" >
           <img *ngIf="recipe.imagePath"  [src]="baseUrl+recipe.imagePath" alt="xx" class="w-25">
         </td>

        <td>{{recipe.tag.name}}</td>
        <td>
         <ng-container *ngFor="let category of recipe.category">
          {{category.name}}
         </ng-container>
        </td>

        <td>{{recipe.creationDate | date :'dd-MM-yyyy '}}</td>
        <td>{{recipe.modificationDate | date :'dd-MM-yyyy '}}</td>

        <td>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu"  >

            <button mat-menu-item  [routerLink]="['view-edit/' , recipe.id , true]">
              <mat-icon>visibility</mat-icon>
              <span>View</span>
            </button>

            <button mat-menu-item (click)="onAddToFav(recipe.id)" >
              <mat-icon >favorite</mat-icon>
              <span>Add to Fav </span>
            </button>


          </mat-menu>

        </td>
      </tr>

    </tbody>

  </table>


  <mat-paginator *ngIf="!showNoData"  (page)="handelPageEvent($event)"
                [length]="length"
                [pageSize]="recipesDetails.pageSize"
                [pageSizeOptions]="[5,7,10 ,12]"
                [pageIndex]="recipesDetails.pageNumber-1"
                aria-label="Select page">
  </mat-paginator>





</section>
